form#loginForm input{
    margin: 1%;
    border-radius: 2rem;
    border: 1px solid lightskyblue;
}

form#loginForm input:hover, form#loginForm select:hover{
    border: 1px solid #1958BD;
}

form#loginForm input:focus, form#loginForm select:focus{
    border: 1px solid #1958BD;
}