:root {
    --menu-color :rgb(90, 90, 90);
    --item-color : #f4f4f4;
  }

div#accordion{
    margin:2% 2% 2% 0;
    height:auto;
    width:18em;
    text-decoration: none;
    border:none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

div#accordion *{
    margin:0;
    padding: 0;
    border-radius: 0;
    background-color: var(--menu-color);
}

div#titulo.card button{
    color: mintcream;
    width:100%;
    padding: 0.5em;
    transition: 800ms;

}

div#titulo.card button#item{
    color: var(--menu-color);
    background-color: var(--item-color);
    width:100%;
    padding: 0.5em;
    transition: 800ms;

}

div#accordion *:hover, div#accordion *:focus{
    text-decoration: none;
}

div#titulo.card button:hover{
    background-color: rgb(49, 49, 49);
}

div#titulo.card button#item:hover{
    background-color: #dfdddd;
}