form#mainForm input, form#mainForm select{
    border: 1px solid lightskyblue;
}

form#mainForm input:hover, form#mainForm select:hover{
    border: 1px solid #1958BD;
}

form#mainForm input:focus, form#mainForm select:focus{
    border: 1px solid #1958BD;
}